.PortSettings {
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    height: 50vh;
    width: 0;
    flex: 0;
    opacity: 0;
    
    .selectWrapper, .confirm {
        display: none;
    }
    &.show {
        opacity: 1;
        flex: 0.5;
        .selectWrapper {
            display: flex;
            margin-bottom: 5px;
            align-items: center;            
            .select {
                width: 150px;
                [class$="control"] {
                    max-height: 38px;
                    border-color: grey;
                }
            }
            .noPorts {
                width: 150px;
                white-space: nowrap;
            }
            .label {
                margin-right: 10px;
                font-size: 20px;
                width: 100px;
                white-space: nowrap;
            }
        }
        .confirm {
            display: flex;
            align-items: center;
            .icon {
                margin-left: 5px;

                &.green {
                    color: yellowgreen;
                }
                &.red {
                    color: red;
                }
            }
            .error {
                margin-left: 5px;
                color: red;
                font-size: 10px;
            }
            div {
                display: flex;
                align-items: center;
                .reconnect {
                margin-left: 5px;
            }
            }
            
        }
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }