.SettingGrid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    overflow: auto;
    max-width: 100%;

    .SettingItem {
        margin-left: auto;
    }
}