.Settings {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    flex: 0;
    overflow: hidden;
    opacity: 0;

    .SettingGrid {
        display: none;
    }

    .gridSettings {
        max-height: 30px;
        white-space: nowrap;
        flex-wrap: nowrap;
        visibility: collapse;
        transition: none;
    }

    &.show {
        flex: 1;
        flex-grow: 3;
        opacity: 1;
        margin-left: 10px;
        visibility: visible;
        .SettingGrid {
            display: grid;
        }
        .gridSettings {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            visibility: visible;
            max-height: 300px;
            transition: max-height 1ms 250ms, visibility 1ms 250ms;
            -webkit-transition: max-height 1ms 250ms, visibility 1ms 250ms;
            -o-transition: max-height 1ms 250ms, visibility 1ms 250ms;
            -moz-transition: max-height 1ms 250ms, visibility 1ms 250ms;
            flex-wrap: wrap-reverse;
            padding-bottom: 5px;
            .inputs {
                display: flex;
                margin-bottom: 5px;

                * {
                    white-space: nowrap;
                }
        
                label {
                    white-space: nowrap;
                    margin-right: 5px;
                }
                input {
                    width: 20px;
                    text-align: center;
                    margin-right: 10px;
                    justify-self: flex-start;
                }
            }
            .buttons {
                display: flex;
                justify-self: flex-end;
                button {
                    margin-left: 10px;
                    white-space: nowrap;
                    &:first-of-type {
                        margin: 0;
                    }
                }
            }
        }
    }
}